<!-- about page -->
<main class="content columns is-centered mt-6">
    <div class="column is-10">
        <h1>About</h1>

        <h2>About Project</h2>
        <p>Twito is a twitter App's Clone build on top Ruby on Rails and hosted in shared hosting of Domainesia.</p>
        <p>If you're interested in hosting with Domainesia, you can use my affilitate link    <%= link_to "here", "https://my.domainesia.com/ref.php?u=21051" %></p>
        <h3>Main Tools</h3>
        <ul>
            <li> Ruby 2.7.6 </li>
            <li> Rails 6.1.6.1 </li>
            <li> PostgreSQL </li>
            <li> Bulma </li>
        </ul>
        <h3>Source</h3>

        <%= link_to "Github", "https://github.com/aysf/twito" %>
        
        <h2>About me</h2>
        <p>I'm Ananto Yusuf, Go/Ruby Developer</p>
        <p>Currently, I am working as Go Developer</p>
    </div>
</main>