<main>
    <section>
        <div class="container">
            <div class="main-wrap">
                <%= image_tag("main.jpg", width: 800) %>
            </div>
            </div>
    </section>
</main>